/*

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
    
}


#main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;

}

#main-nav li{
    display: inline-block;
}

#main-nav a{

    color: white;
    
    
    background-color: #13a4a4;
    padding:5px;
    border-radius: 2px;
    text-decoration: none;
    
}

#main-nav .featured{
    background-color: orange;
}*/

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
    font-family: monospace;
    font-weight: bold;
    
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding: 0;

    
}

.nav li{
    display: inline-block;
    
}

.nav a{
    color: white;
    background-color: teal;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;

}
.nav .featured{
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}


/*a.featured{
    background-color:orange;
}
*/
a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: purple;

}

a:hover{
    text-decoration: underline;
    background-color: greenyellow;
}

body{
    font-family: sans-serif;
    
}
.footer{
    color: #666;
    padding: 15px 0;
    background-color: #ccc;
    text-align: center;
    font-size: 14px;
}

.footer a{
    color: initial;
    text-decoration: underline;
}

.title{
    font: 32px Helvetica, Arial, sans-serif, monospace;
}

/*Box-shadow specifies x values then y values*/
/*
.padded{
    border: 2px dotted gray;

}
.padded p{
    border: inherit;
    padding: 10px;
    margin:20px;
}*/
.padded{
    font-size: 16px;
    padding: 1em;
}



.box{
    padding:1em;
    border-radius: 1em;
    background-color: lightgray;
    margin: 1em;    
    

}


.box-small{
    font-size: 12px;/*Different font sizes which will define the elements em size*/
}

.box-large{
    font-size: 18px;
}
.square{
    border: 2px solid black;
    width: 170px;
    
}

body{
    font-size: 16px;
}

.slogan{
    font-size: 1.2em;
    padding: 1.2em;
    background-color: gray;
}
/*
ul{
    font-size: 0.8em;
}
ul ul{
    font-size: 1em;
}
*/
:root{
    font-size: 2em;
}

ul{
    font-size: 0.8rem;
}

.output1{
    font-size: 10.24px;
}

.output2{
    font-size: 8.192px;
}